<?php
	session_start();
?>
<!doctype html>
<html lang="en">
<head>
    <title>EVOTE DVD - {% block pageTitle %}{% endblock %}</title>
    <meta charset="utf-8">
    <style>
       
        @import "css/style.css";
    </style>
    <link rel="icon" 
      type="image/png" 
      href="/images/favicon.ico">
</head>
<body>

<header>
    
</header>

<nav>

    <ul>
        <li>
       
            <a href="/?action=cv&id={{ cv.id }}"> CV </a>
     
   </li>
      
        <li>
            <a href="/?action=job" class="{% block jobsLinkStyle %}{% endblock %}">jobs</a>
        </li>
        
         <li>
	    <a href="/?action=viewComments" class="{% block commentsLinkStyle %}{% endblock %}">Comments</a>
        </li>


        <li id="login">
            <a href="/?action=login"  class="{% block messagesLinkStyle %}{% endblock %}">Logout</a>
        </li>
        <li>
        	{{User.checkRole()}}
        </li>
	
	   
    </ul>
</nav>

{% block main %}
{% endblock %}


	<div class ="footer">
		
		<p>
			
			Andrew Connolly B00069517 Year 3  
			
		
		</p>
	</div>

</body>
</html>