<!doctype html>
<html lang="en">
    <head>
        <title>CDM Placement - {% block pageTitle %}{% endblock %}</title>
        <meta charset="utf-8">
        <style>
            @import "css/style.css";
        </style>
        <link rel="icon"
          type="image/png"
          href="/images/favicon.ico">
        </head>
<body>
        <nav>
            <ul>
                   <li>
                    <a href="/" class="{% block indexLinkStyle %}{% endblock %}">Home</a>
                   </li>
                   <li id="login">
                    <a href="/login" class="{% block messagesLinkStyle %}{% endblock %}">Login</a>
                </li>
            </ul>
        </nav>

        {% block main %}
        {% endblock %}


        <div class="footer">
            <p>
            Andrew Connolly B00069517 Year 3
           </p>
        </div>
    </body>
</html>