<!doctype html>
<html lang="en">
<head>
    <title>CDM placement - {% block pageTitle %}{% endblock %}</title>
    <meta charset="utf-8">
    <style>
       
        @import "css/style.css";
    </style>
    <link rel="icon" 
      type="image/png" 
      href="/images/favicon.ico">
</head>
<body>

<header>
    <img src="images/gif" alt="logo">
</header>

<nav>
    <ul>
        <li id="login">
            <a href="/?action=login"  class="{% block messagesLinkStyle %}{% endblock %}">Logout</a>
        </li>
        <li>
	        	<p style=color:red;>Welcome:{{username}} </p>
	        	
        </li>

    </ul>
</nav>

{% block main %}

	 
{% endblock %}


	<div class ="footer">
		
		<p>
			Andrew Connolly B00069517 Year 3
			
		
		</p>
	</div>

</body>
</html>