<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I am the home page</title>
    <style>
        @import "css/style.css";
    </style>
</head>
<body>

Hello {{ name }}.

</body>
</html>
