<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I am the home page</title>
    <style>
        @import "css/style.css";
    </style>
</head>
<body>
	<div class="header">
		<ul>
		  <li><a href="index.php">Home</a></li>
		  <li><a href="#">News</a></li>
		  <li><a href="#">Contact</a></li>
		  <li id="login"><a href="login.php">Login</a></li>
		</ul>
	</div>
	<div class="main-content">
		<section>
		    <div id="one">
		    	<h1>Student Page</h1>
		    	
			        
			        
		    </div>
		    <div id="two">
		    	<img src="images/job.jpg">
		    
		    </div>
		</section>
			
	</div>
	
	<div class ="footer">
		
		<p>
			Andrew Connolly B00069517 Year 3
		
		</p>
	</div>



</body>
</html>
