{% extends 'student_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Student{% endblock %}

{# ------------------------------------------------- #}
{% block indexLinkStyle %}current_page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}


<div class="main-content">
		<section>
		    <div id="one">
		    	<h1> Year 3 project placement System</h1>
		    	<h1> Student View</h1>
		    	<p>
		    		this is a system where by there is three diffent views 
		    		to the system depending on how you log in
		    		the system can either by used as a lecturer an employer or a student.
		    	
		    	</p>
		    </div>
		    <div id="two">
		    	<img src="images/job.jpg">
		    
		    </div>
		</section>
			
	</div>





{% endblock %}
